<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container p-2">
			<div class="row">

				<div class="col-md-6 offset-md-3 mt-3">
					<div class="card paint-card">
						<div class="text-center">
							<i class="fa-solid fa-note-sticky fa-2x"></i>
							<p class="text-center text-custom fs-2">Marriage Form</p>
							
						</div>
						<div class="card-body">
							<div style="margin-left: 30px;">

								<table class="table table-borderless">
									<tr class="p-3">
										<td class="fw-bold">Boy Name :</td>
										<td>[[${ma.boyName}]]</td>
									</tr>

									<tr>
										<td class="fw-bold">Date of Birth :</td>
										<td>[[${ma.dobBoy}]]</td>
									</tr>

									<tr>
										<td class="fw-bold">Age :</td>
										<td>[[${ma.boyAge}]]</td>
									</tr>

									<tr>
										<td class="fw-bold">Address:</td>
										<td>[[${ma.boyAddress}]]</td>
									</tr>

									<tr>
										<td class="fw-bold">Girl Name :</td>
										<td>[[${ma.girlName}]]</td>
									</tr>

									<tr>
										<td class="fw-bold">Date of Birth :</td>
										<td>[[${ma.dobGirl}]]</td>
									</tr>
									<tr>
										<td class="fw-bold">Age :</td>
										<td>[[${ma.girlAge}]]</td>
									</tr>

									<tr>
										<td class="fw-bold">Address :</td>
										<td>[[${ma.girlAddress}]]</td>
									</tr>

									<tr>
										<td class="fw-bold">Marriage Date :</td>
										<td>[[${ma.marrigeDate}]]</td>
									</tr>
									<tr>
										<td class="fw-bold">Status :</td>
										<td>[[${ma.status}]]</td>
									</tr>

									<tr>
										<td class="fw-bold">Download Document :</td>
										<td><a th:href="@{'/admin/downloadMarriage/'+${ma.id}}"
											class="btn bg-custom text-white btn-sm">Download</a></td>
									</tr>

								</table>
							</div>
							<hr>
							<div class="row">
								<a th:href="@{'/admin/updateMarriage/Approve/'+${ma.id}}"
									class="btn btn-primary col-md-3 offset-md-3">Approved</a> <a
									th:href="@{'/admin/updateMarriage/Reject/'+${ma.id}}"
									class="btn btn-danger col-md-3 ms-2">Reject</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-custom p-2" style="margin-top: 40px">
			<p class="text-center text-white">@copyright reserverd by
				ecertificate.com</p>
		</div>
	</section>
</body>
</html>